.page-container > .terms {
    padding: 20px;

    .table {
        position: relative;
        width: 400px;
    }

    &.loading {
        .table > .loader {
            opacity: 1;
        }
    }

    .table > .loader {
        transition: opacity 800ms;
        opacity: 0;
        z-index: 1;
        position: absolute;
        top: 70px;
        left: 50%;
        margin-left: -30px;
    }

    .top {
        display: flex;
        align-items: center;

        & .ui.header > icon {
            padding: 0;
        }

        & button {
            margin: 0 30px;
        }
    }
}
