.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: absolute;
    width: 100%;
    text-align: center;
    background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));

    & .logo {
        margin-bottom: 20px;
    }
}
