a {
  text-decoration: none;
}

.sidebar {
  width: 220px;
  position: fixed;
  top: 0;
  bottom: 0;
  border-right: 1px solid rgba(0, 0, 0, .0625);
}

.sidebar .logo {
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, .0625);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar .logo img {
  height: 50px;
}

.sidebar .menu {

}

.sidebar .menu .item:first-child {
  margin-top: 30px;
}

.sidebar .menu .item {
}

.sidebar .menu .item .link {
  display: block;
  padding: 5px 15px;
  font-size: 15px;
  color: #72777a;
  transition: all .3s ease;
}

.sidebar .menu .item .link:hover {
  color: #313435;
  text-decoration: none;
}

.sidebar .menu .item .link i {
  font-size: 17px;
  height: 35px;
  left: 0;
  line-height: 35px;
  margin-right: 14px;
}

.page-container {
  margin-left: 220px;
}
