.sidebar {
  width: 220px;
  position: fixed;
  top: 0;
  bottom: 0;
  border-right: 1px solid rgba(0, 0, 0, .0625);
}

.sidebar .logo {
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, .0625);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar .logo img {
  height: 50px;
}

.sidebar .menu {

}

.sidebar .menu .item:first-child {
  margin-top: 30px;
}

.sidebar .menu .item {
}

.page-container {
  margin-left: 220px;
}
