.users {
    padding: 20px;

    &.loading {
        .loader {
            opacity: 1;
        }
    }

    .loader {
        transition: opacity 800ms;
        opacity: 0;
        position: absolute;
        top: 70px;
        left: 50%;
        margin-left: -30px;
    }

    .top {
        display: flex;
        align-items: center;

        & .ui.header > icon {
            padding: 0;
        }

        & button {
            margin: 0 30px;
        }
    }

    .list {
        margin: 10px;
        border-radius: 5px;
        box-shadow: 0 0 3px rgba(0, 0, 0, .3);
        width: 400px;

        & .header {
            opacity: .5;
            font-size: 1.2rem;
            font-weight: 500;
            background-color: rgba(0, 0, 0, .1);
        }

        & .header, & .user {
            display: flex;
            padding: 10px 15px;

            & .username {
                flex-basis: 47%;
            }

            & .role {
                flex-basis: 47%;
            }

            & .delete {
                flex-basis: 6%;
            }
        }

        & .user {
            border-top: 1px solid rgba(0, 0, 0, .3);
        }
    }
}
